body {
  margin: 0;
  text-align: center;
  position: relative;
  font-family: 'Merriweather', sans-serif;
  color: #40514E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}

/******
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/
h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

H3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

span {
  text-decoration: underline;
}

.appdev-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  margin: 50px 0 0 0;
  padding: 50px 0 20px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  border: solid #337FED 0px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.cert-img {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copywrite {
  color: #EAF6F6;
  font-size:0.75rem;
  padding: 20px 0;
}


.intro {
  margin: auto;
  width: 75%;
}

.middle-container {
  margin: 100px 0;
}

.profile-img {
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  background-color: #EAF6F6;
  ;
  position: relative;
  padding-top: 100px;
}
